* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px 15%;
    color: white;
    background-color: #1f2937;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 45px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px 0;
    gap: 45px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 15px;
    border: none;
}

button {
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #2a6fd3;
}

.info-section {
    padding: 50px 20%;
    text-align: center;
    font-weight: bold;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.cards {
    width: 200px;
}

.card-images {
    width: 200px;
    height: 200px;
    border: 1px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}